.ql-editor {
  @apply border-b border-l border-r border-primary rounded-b-sm min-h-[15rem] #{!important};
}
.ql-toolbar.ql-snow {
  @apply border-t border-l border-r border-primary rounded-t-sm #{!important};
}
.ql-container.ql-snow {
  @apply border-none #{!important};
}

.tiptap-list {
  ul {
    padding-left: 1.5rem;
    list-style: disc !important;
  }
  ol {
    padding-left: 1.5rem;
    list-style: auto !important;
  }
}
